@model IEnumerable<IslamicGuide.Data.ViewModels.Position.PositionVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var langCode = Request.Cookies["culture"] == null ? "en" : Request.Cookies["culture"].Value;
}
<!--KODE SAB BANNER WRAP START-->
<div class="kode_sab_banner_wrap them_overlay">
    <!--CONTAINER START-->
    <div class="container">
        <div class="sab_banner_text">
            <h2>@ViewBag.subjectTitle</h2>
            <ul class="breadcrumbs">
                <li><a href="#"><i class="fa fa-home"></i></a></li>
                @foreach (var r in ((List<IslamicGuide.Data.ViewModels.Shared.Route>)ViewBag.Routes))
                {
                    if (r.Id == null)
                    {
                        <li><strong>@Html.ActionLink(r.Text, r.ActionName, r.Controller, null, null)</strong></li>
                    }
                    else
                    {
                        <li><strong>@Html.ActionLink(r.Text==null?"item":r.Text, r.ActionName, r.Controller, new { id = r.Id }, null)</strong></li>
                    }
                }
            </ul>
        </div>
    </div>
    <!--CONTAINER END-->
</div>
<!--KODE SAB BANNER WRAP END-->






















<!--KODE EVENT WRAP START-->
<div class="kode_event_wrap">
    <!--CONTAINER START-->
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row" style="padding: 25px; box-shadow: -1px -1px 10px -1px #888888;margin-bottom: 30px;">
                <div class="col-md-2">
                    <span style="font-size: 35pt;color: chocolate;font-weight: 600;">@item.SuraNum</span>
                </div>
                <div class="col-md-6">
                    <h4 style="color:brown;font-size:20pt;font-weight: 1000;">@item.SuraTitle</h4>
                    <p style="padding-top:20px; color:black;font-weight:200;font-size:18pt">@item.QuranWords</p>
                </div>
                <div class="col-md-2">
                    <a href="#">@Resources.LayoutResource.Ayat : @item.AyatCount</a>
                </div>
                <div align="right" class="col-md-2">
                    @Html.ActionLink(@Resources.LayoutResource.Show, "GetById", "Positions", new { id = item.PosID }, new { @class = "medium_btn background-bg-dark", @style = "margin-top:20px" })
                </div>
            </div>
        }
            @*<div class="kode_event_detail">
                <ul>

                    <li>
                        <div class="event_date">
                            <span>@item.SuraNum</span>
                        </div>
                        <div class="kode_calender_list">
                            <div style="width:600px" class="kode_event_text">

                            </div>
                        </div>
                        <div class="kode_event_ticket">
                        </div>
                        <div align="right">
                        </div>
                    </li>
                    }*@

                    @*@foreach (var item in Model)
                    {
                        <li>
                            <div class="kode_calender_list">
                                <div class="event_date">
                                    <span style="margin-top: 40%;">@item.SuraNum</span>
                                </div>
                                <div class="kode_event_text">
                                    @Html.ActionLink(item.SuraTitle, "GetById", "Positions", new { id = item.PosID }, new { @style = "color:brown;font-size:20pt;font-weight: 1000;" })
                                    <p style="padding-right:25%; color:black;font-weight:200;font-size:18pt">@item.QuranWords</p>
                                </div>
                            </div>
                            <div style="position: absolute;right: 10%" class="kode_event_ticket">
                                <a class="event_studium">@item.AyatCount : @Resources.LayoutResource.Ayat</a>
                                @Html.ActionLink(@Resources.LayoutResource.Show, "GetById", "Positions", new { id = item.PosID }, new { @class = "medium_btn background-bg-dark" })
                            </div>
                        </li>
                    }*@




               
            </div>
            <!--KODE PAGINATION LIST START-->
            <div class="kode_pagination_list navi_2">
                <ul class="kode_pagination">
                    <li>
                        <a class="prve" href="#">
                            @if (langCode == "ar")
                            {
                                <i class="fa fa-arrow-right"></i>
                            }
                            else
                            {
                                <i class="fa fa-arrow-left"></i>
                            }
                            @Resources.LayoutResource.Previous
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                        <a class="next" href="#">
                            @Resources.LayoutResource.Next
                            @if (langCode == "ar")
                            {
                                <i class="fa fa-arrow-left"></i>
                            }
                            else
                            {
                                <i class="fa fa-arrow-right"></i>
                            }
                        </a>
                    </li>
                </ul>
            </div>
            <!--KODE PAGINATION LIST END-->
        </div>
    <!--CONTAINER END-->
</div>
<!--KODE EVENT WRAP END-->
