@using IslamicGuide.Data.ViewModels.Shared
@using IslamicGuide.Data.ViewModels.Subjects

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 0;
    var subjectsCount = 0;
    
    var breadCrumbDivClass = "sab_banner_text";
}
@{
    var langCode = Request.Cookies["culture"] == null ? "en" : Request.Cookies["culture"].Value;
    if (langCode=="ar")
    {
        breadCrumbDivClass = "sab_banner_textAr";
        <style>
            .breadcrumbs li:first-child:before {
                content: "";
            }
            .breadcrumbs li:last-child:before {
                content: "\f100" !important;
            }
            .breadcrumbs {
                padding-right: 0px !important;
                direction: rtl !important;
            }
            .breadcrumbs li {
                margin-right: 5px !important;
            }
            .subjectsStyles {
                margin-right: 30px !important; 
                margin-bottom: 20px !important;
                margin-left: 0px !important;
            }
        </style>
    }
}


<!--KODE SAB BANNER WRAP START-->
<div class="kode_sab_banner_wrap them_overlay">
    <!--CONTAINER START-->
    <div class="container">
        <div class="@(breadCrumbDivClass)">
            <h2>@ViewBag.ParentTitle</h2>
            <ul class="breadcrumbs">
                @*<li><a href="#"><i class="fa fa-home"></i></a></li>*@
                @foreach (var r in ((List<IslamicGuide.Data.ViewModels.Shared.Route>)ViewBag.Routes))
                {
                    if (r.Id == null)
                    {
                        <li><strong>@Html.ActionLink((langCode == "en") ? r.Text.EnglishName : r.Text.ArabicName, r.ActionName, r.Controller, null, null)</strong></li>
                    }
                    else
                    {
                        <li><strong>@Html.ActionLink((langCode == "en") ? r.Text.EnglishName : r.Text.ArabicName, r.ActionName, r.Controller, new { subjectId = r.Id }, null)</strong></li>
                    }
                }
            </ul>
        </div>
    </div>
    <!--CONTAINER END-->
</div>

<div class="kode_navigation_wrap">
    <div class="container">
        <div dir="rtl" class="navigation">
            <div style="padding-bottom:20px;padding-top:20px" class="row">
                @if (ViewBag.Search == null)
                {
                    <div class="col-md-4">
                        <select style="font-size:12pt;font-weight:300" onchange="OnChangeEvent(this)" id="ListSubjects" class="kode alignselect">
                            <option style="border-bottom:1px solid black;font-size:18pt;font-weight:300" disabled>@Resources.LayoutResource.Subjects</option>
                            @foreach (var item in (List<SubjectVM>)ViewBag.SubPage.subjectsDropdown)
                            {
                                if (item.ID == ViewBag.ParID)
                                {
                                    <option selected style="font-size:12pt;font-weight:200" value="@item.ID">@(@item.Title == null ? "Item" : item.Title)</option>
                                }
                                else
                                {
                                    <option style="font-size:12pt;font-weight:200" value="@item.ID">@(@item.Title == null ? "Item" : item.Title)</option>
                                }
                            }
                        </select>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!--CONTAINER START-->
<div class="container">
    <div class="row">

        @*<div class="col-md-1">
            <p>asdasdasd</p>
        </div>*@

        @foreach (var item in ((List<SubjectVM>)ViewBag.SubPage.DataList.DataList))
        {
            
            <div style="margin-left: 30px; max-height: 250px;" class="subjectsStyles col-md-2">

                <a href="@Url.Action("Index", "Topic", new {subjectId = item.ID}, null)">
                    <div style="max-height: 250px;" class="kode_service_des">
                        <figure>

                            @if (ViewBag.SearchedImages != null && ((List<string>)ViewBag.SearchedImages).Count > 0)
                            {
                                <img src="~/Content/extra-images/@(ViewBag.SearchedImages[counter]).png" alt="">
                                counter++;
                            }
                            else
                            {
                                if (ViewBag.ParentImageName != null)
                                {
                                    <img src="~/Content/extra-images/@(ViewBag.ParentImageName).png" alt="">
                                }
                                else
                                {
                                    <img src="~/Content/extra-images/@(item.Title).png" alt="">

                                }
                            }
                        </figure>

                        <div class="kode_service_text">
                            <h4>
                                @Html.ActionLink(item.Title == null ? "Item" : item.Title, "Index", "Topic", new { subjectId = item.ID }, new { @style = "font-size:10pt;" })
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
            @*if (subjectsCount == 5)
            {
                <div class="col-md-1">
                    <p>asdasdasd</p>
                </div>
                subjectsCount = 0;
            }*@
            subjectsCount++;
        }
    </div>
    @Html.Partial("_Paging")
</div>
<!--KODE BLOG MADIUM WRAP END-->
<script type="text/javascript">
    function OnChangeEvent(dropDownElement) {
        var selectedValue = dropDownElement.options[dropDownElement.selectedIndex].value;
        var base_url = window.location.origin;
        document.location = base_url + "/Topic/index?subjectId=" + selectedValue;
    }
</script>
