
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var langCode = Request.Cookies["culture"] == null ? "en" : Request.Cookies["culture"].Value;
}

<!--KODE SAB BANNER WRAP START-->
<div class="kode_sab_banner_wrap them_overlay">
    <!--CONTAINER START-->
    <div class="container">
        <div class="sab_banner_text">
            <h2>@Resources.LayoutResource.Subjects</h2>
            <ul class="breadcrumbs">
                <li><a href="#"><i class="fa fa-home"></i></a></li>
                <li><strong>@Resources.LayoutResource.Subjects</strong></li>
            </ul>
        </div>
    </div>
    <!--CONTAINER END-->
</div>
<!--KODE SAB BANNER WRAP END-->
<div class="kode_navigation_wrap">
    <div class="container">
        <div dir="rtl" class="navigation">
            <select class="kode alignselect">
                <option selected> @Html.ActionLink(Resources.LayoutResource.Subject1, "Index", "Topic")</option>
            </select>
        </div>
    </div>
</div>
<!--CONTAINER START-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="kode_service_des">
                <figure>
                    <img src="~/Content/extra-images/service.jpg" alt="">
                </figure>
                <div class="kode_service_text">
                    <span><i class="fa icon-book"></i></span>
                    <h4><a href="#">@Resources.LayoutResource.Readingprinciples</a></h4>
                    <a class="right_arrow hvr-ripple-out" href="@Url.Action("Index", "subtopic")"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="kode_service_des">
                <figure>
                    <img src="~/Content/extra-images/service1.jpg" alt="">
                </figure>
                <div class="kode_service_text">
                    <span><i class="fa icon-social"></i></span>
                    @*<h4><a href="#">الأستماع للخطبة</a></h4>*@
                    <h4><a href="#">@Resources.LayoutResource.Readingprinciples</a></h4>
                    <a class="right_arrow hvr-ripple-out" href="@Url.Action("Index", "subtopic")"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="kode_service_des">
                <figure>
                    <img src="~/Content/extra-images/service2.jpg" alt="">
                </figure>
                <div class="kode_service_text">
                    <span><i class="fa icon-people"></i></span>
                    @*<h4><a href="#">الزواج</a></h4>*@
                    <h4><a href="#">@Resources.LayoutResource.Readingprinciples</a></h4>
                    <a class="right_arrow hvr-ripple-out" href="@Url.Action("Index", "subtopic")"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="kode_service_des">
                <figure>
                    <img src="~/Content/extra-images/service3.jpg" alt="">
                </figure>
                <div class="kode_service_text">
                    <span><i class="fa icon-islam"></i></span>
                    @*<h4><a href="#">التفاسير</a></h4>*@
                    <h4><a href="#">@Resources.LayoutResource.Readingprinciples</a></h4>
                    <a class="right_arrow hvr-ripple-out" href="@Url.Action("Index", "subtopic")"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="kode_service_des">
                <figure>
                    <img src="~/Content/extra-images/service4.jpg" alt="">
                </figure>
                <div class="kode_service_text">
                    <span><i class="fa icon-monuments-1"></i></span>
                    @*<h4><a href="#">الغسول</a></h4>*@
                    <h4><a href="#">@Resources.LayoutResource.Readingprinciples</a></h4>
                    <a class="right_arrow hvr-ripple-out" href="@Url.Action("Index", "subtopic")"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="kode_service_des">
                <figure>
                    <img src="~/Content/extra-images/service5.jpg" alt="">
                </figure>
                <div class="kode_service_text">
                    <span><i class="fa icon-monuments"></i></span>
                    @*<h4><a href="#">صلاة المسجد</a></h4>*@
                    <h4><a href="#">@Resources.LayoutResource.Readingprinciples</a></h4>
                    <a class="right_arrow hvr-ripple-out" href="@Url.Action("Index", "subtopic")"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="kode_service_des">
                <figure>
                    <img src="~/Content/extra-images/service6.jpg" alt="">
                </figure>
                <div class="kode_service_text">
                    <span><i class="fa icon-art"></i></span>
                    @*<h4><a href="#">دروس المسجد</a></h4>*@
                    <h4><a href="#">@Resources.LayoutResource.Readingprinciples</a></h4>
                    <a class="right_arrow hvr-ripple-out" href="@Url.Action("Index", "subtopic")"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="kode_service_des">
                <figure>
                    <img src="~/Content/extra-images/service7.jpg" alt="">
                </figure>
                <div class="kode_service_text">
                    <span><i class="fa icon-people-1"></i></span>
                    @*<h4><a href="#">دار الافتاء</a></h4>*@
                    <h4><a href="#">@Resources.LayoutResource.Readingprinciples</a></h4>
                    <a class="right_arrow hvr-ripple-out" href="@Url.Action("Index", "subtopic")"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="kode_service_des">
                <figure>
                    <img src="~/Content/extra-images/service8.jpg" alt="">
                </figure>
                <div class="kode_service_text">
                    <span><i class="fa icon-circles"></i></span>
                    @*<h4><a href="#">الزواج الشرعي</a></h4>*@
                    <h4><a href="#">@Resources.LayoutResource.Readingprinciples</a></h4>
                    <a class="right_arrow hvr-ripple-out" href="@Url.Action("Index", "subtopicpositions")"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <!--KODE PAGINATION LIST START-->
        <div class="kode_pagination_list">
            <ul class="kode_pagination">
                <li>
                    <a class="prve" href="#">
                        @if (langCode == "ar")
                        {
                            <i class="fa fa-arrow-right"></i>
                        }
                        else
                        {
                            <i class="fa fa-arrow-left"></i>
                        }
                        @Resources.LayoutResource.Previous
                    </a>
                </li>

                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>

                <li>
                    <a class="next" href="#">
                        @Resources.LayoutResource.Next
                        @if (langCode == "ar")
                        {
                            <i class="fa fa-arrow-left"></i>
                        }
                        else
                        {
                            <i class="fa fa-arrow-right"></i>
                        }
                    </a>
                </li>
            </ul>
        </div>
        <!--KODE PAGINATION LIST END-->
    </div>
</div>
<!--KODE BLOG MADIUM WRAP END-->
