@using IslamicGuide.Data.ViewModels.Shared
@using IslamicGuide.Data.ViewModels.Subjects

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var langCode = Request.Cookies["culture"] == null ? "en" : Request.Cookies["culture"].Value;
}

<!--KODE SAB BANNER WRAP START-->
<div class="kode_sab_banner_wrap them_overlay">
    <!--CONTAINER START-->
    <div class="container">
        <div class="sab_banner_text">
            <h2>@Resources.LayoutResource.Subjects</h2>
            <ul class="breadcrumbs">
                <li><a href="#"><i class="fa fa-home"></i></a></li>
                @foreach (var r in ((List<IslamicGuide.Data.ViewModels.Shared.Route>)ViewBag.Routes))
                {
                    if (r.Id == null)
                    {
                        <li><strong>@Html.ActionLink(r.Text, r.ActionName, r.Controller, null, null)</strong></li>
                    }
                    else
                    {
                        <li><strong>@Html.ActionLink(r.Text == null ? "item" : r.Text, r.ActionName, r.Controller, new { id = r.Id }, null)</strong></li>
                    }
                }
            </ul>
        </div>
    </div>
    <!--CONTAINER END-->
</div>
<div class="kode_navigation_wrap">
    <div class="container">
        <div dir="rtl" class="navigation">
            <select style="font-size:18pt;font-weight:300" onchange="OnChangeEvent(this)" id="ListSubjects" class="kode alignselect">
                <option style="border-bottom:1px solid black;font-size:18pt;font-weight:300" selected disabled>@Resources.LayoutResource.Subjects</option>
                @foreach (var item in (List<SubjectVM>)ViewBag.SubPage.subjectsDropdown)
                {
                    <option style="font-size:12pt;font-weight:200" value="@item.ID">@(@item.Title == null ? "Item" : item.Title)</option>
                }
            </select>
        </div>
    </div>
</div>
<!--CONTAINER START-->
<div class="container">
    <div class="row">
        @foreach (var item in ((List<SubjectVM>)ViewBag.SubPage.DataList.DataList))
        {
            <div class="col-md-4">

                <a href="@Url.Action("Index", "Topic" ,new { subjectId=item.ID },null)">
                    <div class="kode_service_des">
                        <figure>
                            <img src="~/Content/extra-images/service.jpg" alt="">
                        </figure>

                        <div class="kode_service_text">
                            <h4>
                                @Html.ActionLink(item.Title == null ? "Item" : item.Title, "Index", "Topic", new { subjectId = item.ID }, null)
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
        }
        @Html.Partial("_Paging")
        
    </div>
</div>
<!--KODE BLOG MADIUM WRAP END-->
<script type="text/javascript">
    function OnChangeEvent(dropDownElement) {
        var selectedValue = dropDownElement.options[dropDownElement.selectedIndex].value;
        var base_url = window.location.origin;
        document.location = base_url + "/Topic/index?subjectId=" + selectedValue;
    }
</script>