@using System.Web.Optimization
@using WD.DTO.Notification
@using WD.Model.Academy
@using WD.Model.Notification
@using WD.Model.Postpone
@using WD.Model.Registration
@using WD.Resources.GeneralResources
@using WD.Resources.MasterLayout
@using WD.Services
@using WD.Model.Reports
@using WD.Model.Reservation
@using WD.Model.WaitingList
<!DOCTYPE html>
@{
                /**/

                var langCode = Request.Cookies["culture"] == null ? "en" : Request.Cookies["culture"].Value;
                var langDir = langCode == "ar" ? "rtl" : "ltr";
}
<html dir="@(langDir)"
      lang="@(langCode)">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Amgad Gamal | 01229464974">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/content/images/logo.png">
    <!-- Custom CSS -->
    <link href="/content/css/style.min.css" rel="stylesheet">

    <link href="/content/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/content/libs/pickadate/lib/themes/default.css">

    <link rel="stylesheet" type="text/css" href="/content/libs/pickadate/lib/themes/default.date.css">

    <link rel="stylesheet" type="text/css" href="/content/libs/pickadate/lib/themes/default.time.css">


    <link href="/content/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />


    <link href="/content/libs/calendar/calendar.css" rel="stylesheet" />

    <link href="~/content/css/DataTableCustom.css" rel="stylesheet" />

    <link href="~/content/Notiflix-1.3.0/Minified/notiflix-1.3.0.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @RenderSection("styles", false)
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/content/libs/jquery/dist/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140857412-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-140857412-2');
    </script>
    @if (langCode == "ar")
    {
        <link href="~/content/css/style-ar.css" rel="stylesheet" />
    }

</head>

<body>

    <input type="text" id="hdnLanguageId" value="@langCode" hidden="true" />
    <input type="text" id="hdnViewDetails" value="@MasterLayout.ViewDetails" hidden="true" />
    <input type="text" id="hdnSelect" value="@GeneralResource.Select" hidden="true" />
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <a class="navbar-brand d-block d-md-none" href="@Url.Action("Dashboard", "Account")">
                        <b class="logo-icon">
                            <img src="/content/images/logo.jpg" alt="homepage" class="dark-logo" />

                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <img src="/content/images/logo.jpg" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                    <div class="d-none d-md-block text-center">
                        <a class="sidebartoggler waves-effect waves-light d-flex align-items-center side-start" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                            <i class="mdi mdi-menu"></i>
                            <span class="navigation-text ml-3">
                                @MasterLayout.Navigation
                            </span>
                        </a>
                    </div>
                    <!-- End Logo -->
                    <!-- Toggle which is visible on mobile only -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav float-left mr-auto">
                        <!-- Logo -->
                        <li class="nav-item border-right">
                            <a class="nav-link navbar-brand d-none d-md-block" href="@Url.Action("Dashboard", "Account", new {Area = ""})">
                                <!-- Logo icon -->
                                <b class="logo-icon">
                                    <img src="/content/images/logo-icon.png" alt="homepage" class="dark-logo" />
                                </b>
                                <span class="logo-text">
                                    <img src="/content/images/logo.jpg" class="light-logo" alt="homepage" />
                                </span>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-bell-ring-outline font-24"></i>
                                <div id="NotifyPoint" class="notify">
                                    @if (ViewBag.NotificationsCount != null && ViewBag.NotificationsCount != 0)
                                    {
                                        <span class="heartbit"></span>
                                    }
                                    <span class="point"></span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left mailbox animated bounceInDown">
                                <span class="with-arrow"><span class="bg-primary"></span></span>
                                <ul class="list-style-none">
                                    <li>
                                        <div class="drop-title border-bottom">
                                            @string.Format(MasterLayout.NotificationCount, ViewBag.NotificationsCount)
                                        </div>
                                    </li>
                                    <li>
                                        <div class="message-center notifications">
                                            @foreach (var notification in (List<NotificationDTO>)ViewData["Notifications"])
                                            {
                                                <a href="/masterdata/Notification/View/@notification.NotificationId" class="message-item">
                                                    <span class="mail-contnet">
                                                        <h5 class="message-title">@notification.MemberName</h5>
                                                        <span class="mail-desc">@notification.Message</span>
                                                        <span class="time">@notification.Time</span>
                                                    </span>
                                                </a>
                                            }
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center link text-dark" href="@Url.Action("Index", "Notification", new {Area = "MasterData"})">
                                            <b> @NotifyResource.SeeAll </b>
                                            @if (langDir == "rtl")
                                            {
                                                <i class="fa fa-angle-left"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-angle-right"></i>
                                            }
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                    <!-- Right side toggle and nav items -->
                    <ul class="navbar-nav float-right">
                        <!-- Search -->
                        <li class="nav-item search-box">
                            <div class="app-search d-none d-lg-block">
                                <input id="searchValue" type="text" class="form-control" placeholder="@MasterLayout.SearchTextBox">
                                <a id="HomesearchBtn" class="active"><i class="fa fa-search"></i></a>
                            </div>
                        </li>
                        <!-- User profile and search -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (ViewBag.UserImage != null && !string.IsNullOrEmpty(ViewBag.UserImage))
                                {
                                    <img src="@("/content/images/150_150/" + ViewBag.UserImage)" alt="user" class="rounded-circle" width="31">
                                }
                                else
                                {
                                    <img src="~/content/images/avetar.png" alt="user" class="rounded-circle" width="31">
                                }
                                <span class="ml-2 user-text font-medium">
                                    @ViewBag.FirstName
                                </span><span class="fas fa-angle-down ml-2 user-text"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <div class="d-flex no-block align-items-center p-3 mb-2 border-bottom">
                                    <div class="">
                                        @if (ViewBag.UserImage != null && !string.IsNullOrEmpty(ViewBag.UserImage))
                                        {
                                            <img src="@("/content/images/150_150/" + ViewBag.UserImage)" alt="user" class="rounded" width="80">
                                        }
                                        else
                                        {
                                            <img src="/Content/Images/avetar.png" alt="user" class="rounded" width="80">
                                        }

                                    </div>
                                    <div class="ml-2">
                                        <h4 class="mb-0">@ViewBag.UserName</h4>
                                        <p class="mb-0 text-muted">@ViewBag.UserEmail</p>
                                        <a href="/Account/MyAccount" class="btn btn-sm btn-info text-white mt-2 btn-rounded">
                                            @MasterLayout.ViewProfile
                                        </a>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="/Account/MySetting">
                                    <i class="ti-settings mr-1 ml-1"></i> @MasterLayout.AccountSetting
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Account/Logout">
                                    <i class="fa fa-power-off mr-1 ml-1"></i>
                                    @MasterLayout.Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        @Html.Hidden("DMessage", (string)NotificationResource.DeactivateMessage, new { @id = "ResDeleteMessage" })
        @Html.Hidden("DSuccess", (string)NotificationResource.Deactivatesuccess, new { @id = "ResDeleteSuccess" })
        @Html.Hidden("RMessage", (string)NotificationResource.RestoreMessage, new { @id = "ResRestoreMessage" })
        @Html.Hidden("RSuccess", (string)NotificationResource.RestoreSuccess, new { @id = "ResRestoreSuccess" })
        @Html.Hidden("DoneBTN", (string)NotificationResource.Done, new { @id = "ResNotifiDoneBTN" })
        @Html.Hidden("DTitle", (string)NotificationResource.DeleteTitle, new { @id = "ResDeleteTitle" })
        @Html.Hidden("RTitle", (string)NotificationResource.RestoreTilte, new { @id = "ResRestoreTitle" })
        @Html.Hidden("Yes", (string)GeneralResource.Yes, new { @id = "ResYesBTN" })
        @Html.Hidden("No", (string)GeneralResource.No, new { @id = "ResNoBTN" })
        @Html.Hidden("RemoveBTN", (string)GeneralResource.Remove, new { @id = "RemoveBTN" })
        @Html.Hidden("ActivateBTN", (string)GeneralResource.Activate, new { @id = "ActivateBTN" })
        @Html.Hidden("DetailsBTN", (string)GeneralResource.Details, new { @id = "DetailsBTN" })
        @Html.Hidden("Required", (string)ErrorMessages.RequiredMessageTwo, new { @id = "Required" })
        @Html.Hidden("InvalidEmailAddress", (string)ErrorMessages.InvalidEmailAddress, new { @id = "InvalidEmailAddress" })
        @Html.Hidden("ReservationError", (string)ErrorMessages.ReservationPramsError, new { @id = "ReservationPramsError" })


        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-dark" href="/Account/Dashboard" aria-expanded="false">
                                <i class="mdi mdi-av-timer"></i>
                                <span class="hide-menu">@MasterLayout.Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="fas fa-building"></i>
                                <span class="hide-menu">@MasterLayout.MasterData</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                @if (ViewBag.SecuirtyRoleId != null)
                                {
                                    if ((int)ViewBag.SecuirtyRoleId == (int)SecurityRoleEnum.SystemAdmin)
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "SystemUser", new {Area = "MasterData"})" class="sidebar-link">

                                                <span class="hide-menu">@MasterLayout.SystemUsers</span>
                                            </a>
                                        </li>
                                    }
                                    if ((int)ViewBag.SecuirtyRoleId == (int)SecurityRoleEnum.SystemAdmin
                                        || (int)ViewBag.SecuirtyRoleId == (int)SecurityRoleEnum.AcademySuperAdmin)
                                    {
                                        <li class="sidebar-item">
                                            <a href="@Url.Action("Index", "Academy", new {Area = "MasterData"})" class="sidebar-link">

                                                <span class="hide-menu">@AcademyResource.PageTitle</span>
                                            </a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a href="@Url.Action("Index", "AcademyLevel", new {Area = "MasterData"})" class="sidebar-link">

                                                <span class="hide-menu">@MasterLayout.Level </span>
                                            </a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a href="@Url.Action("Index", "Court", new {Area = "MasterData"})" class="sidebar-link">

                                                <span class="hide-menu">@MasterLayout.Court </span>
                                            </a>
                                        </li>
                                    }
                                    if ((int)ViewBag.SecuirtyRoleId == (int)SecurityRoleEnum.SystemAdmin ||
                                        (int)ViewBag.SecuirtyRoleId == (int)SecurityRoleEnum.AcademySuperAdmin ||
                                        (ViewBag.IndividualSport != null && (bool)ViewBag.IndividualSport))
                                    {
                                        <li class="sidebar-item">
                                            <a href="@Url.Action("Index", "Coach", new {Area = "MasterData"})" class="sidebar-link">

                                                <span class="hide-menu">@MasterLayout.Coach </span>
                                            </a>
                                        </li>
                                    }
                                }
                                @if (ViewBag.IndividualSport == null || (bool)ViewBag.IndividualSport == false)
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "levelgroup", new {Area = "MasterData"})" class="sidebar-link">
                                            <span class="hide-menu">@MasterLayout.Group</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="fas fa-users"></i>
                                <span class="hide-menu">@MasterLayout.Members</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                @*@if (ViewBag.SecuirtyRoleId != null &&
                                     ((int)ViewBag.SecuirtyRoleId == (int)SecurityRoleEnum.SystemAdmin
                                || (int)ViewBag.SecuirtyRoleId == (int)SecurityRoleEnum.AcademySuperAdmin))
                                {*@
                                <li class="sidebar-item">
                                    <a href="@Url.Action("Index", "Member", new {Area = "Member"})" class="sidebar-link">
                                        <span class="hide-menu">@MasterLayout.MembersInfo</span>
                                    </a>
                                </li>
                                @*}*@
                                <li>
                                    <a href="@Url.Action("Index", "Registration", new {Area = "Member"})" class="sidebar-link">
                                        <span class="hide-menu">@RegistrationResource.PageTitle</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Reservation", new {Area = "Member"})" class="sidebar-link">
                                        <span class="hide-menu">@ReservationResource.ReservationListTitle</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "Refund", new {Area = "Member"})" class="sidebar-link">
                                        <span class="hide-menu">@MasterLayout.Refund </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Postpone", new {Area = "Member"})" class="sidebar-link">
                                        <span class="hide-menu">@PostPoneResource.PostponeTitle </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "WaitingList", new {Area = "Member"})" class="sidebar-link">
                                        <span class="hide-menu">@WaitingListResource.PageTitle </span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="ti-files"></i>
                                <span class="hide-menu">@MasterLayout.Reports</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">

                                <li class="sidebar-item">
                                    <a href="@Url.Action("PaymentDetails", "PaymentReports", new {Area = "Reports"})" class="sidebar-link">
                                        <span class="hide-menu">@GeneralResource.PaymentsDetailsReport </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="@Url.Action("ReservationReport", "PaymentReports", new {Area = "Reports"})" class="sidebar-link">
                                        <span class="hide-menu">@ReportResource.ReservationReport </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="@Url.Action("PostponeDetails", "ReservationReports", new {Area = "Reports"})" class="sidebar-link">
                                        <span class="hide-menu">@GeneralResource.PostponeReport </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="@Url.Action("RefundDetails", "ReservationReports", new {Area = "Reports"})" class="sidebar-link">
                                        <span class="hide-menu">@GeneralResource.RefundReport </span>
                                    </a>
                                </li>
                            </ul>

                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                @RenderSection("PageHeader", false)
            </div>
            <div class="page-content container-fluid">
                @RenderBody()
            </div>
            <footer class="footer text-center">
                @GeneralResource.Footer <a target="_blank" href="http://NDF-eg.com/">@GeneralResource.CompanyName</a>.
            </footer>
        </div>
    </div>
    <script src="/content/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/content/libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/content/scripts/jquery.validate.unobtrusive.js"></script><!-- Bootstrap tether Core JavaScript -->
    <!-- apps -->
    <script src="/content/scripts/app.min.js"></script>
    <script src="/content/scripts/app.init.mini-sidebar.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/content/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/content/libs/sparkline/sparkline.js"></script>
    <!--Menu sidebar -->
    <script src="/content/scripts/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/content/scripts/custom.min.js"></script>
    <!--DataTable-->
    <script src="/content/libs/DataTables/datatables.min.js"></script>
    <!--Notiflix-->
    <script src="~/content/Notiflix-1.3.0/Minified/notiflix-1.3.0.min.js"></script>
    <script src="~/content/Notiflix-1.3.0/AIO/notiflix-aio-1.3.0.min.js"></script>


    <span id="tableload" style="display: none">
        <div class="loaderbody">
            <div class="loader"></div>
        </div>
    </span>

    <script src="/content/libs/moment/min/moment.min.js"></script>
    <script src="~/content/libs/fullcalendar-3.8.2/fullcalendar.min.js"></script>
    <script src="~/content/libs/fullcalendar-3.8.2/locale-all.js"></script>
    <script src="~/content/libs/fullcalendar-3.8.2/locale/ar.js"></script>
    <script src="/content/scripts/wd.js"></script>
    <script src="~/content/libs/moment/moment.js"></script>
    <script src="~/content/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>


    @RenderSection("scripts", false)
    <script>
        // Date Picker
        jQuery('.mydatepicker, #datepicker, .input-group.date').datepicker({
            format: 'dd/mm/yyyy'
        });
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        jQuery('#date-range').datepicker({
            toggleActive: true
        });
        jQuery('#datepicker-inline').datepicker({
            todayHighlight: true
        });
        $('#HomesearchBtn').click(function () {
            var searchValue = $('#searchValue').val();
            if (searchValue != "") {
                window.open('/Member/Member/Index/?searchValue=' +
                    searchValue +
                    '',
                    '_self');
            } else {
                // Notiflix.Notify.Warning('Memento te hominem esse');
            }
        });
        $('#searchValue').keypress(function (e) {
            if (e.which == 13) {

                var searchValue = $('#searchValue').val();
                if (searchValue != "") {
                    window.open('/Member/Member/Index/?searchValue=' +
                        searchValue +
                        '',
                        '_self');
                    return false;
                }
                // Notiflix.Notify.Warning('Memento te hominem esse');
                return false;
                //<---- Add this line
            }
        });
    </script>
</body>
</html>
