@model IslamicGuide.Data.ViewModels.Position.PositionDetialsVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var langCode = Request.Cookies["culture"] == null ? "ar" : Request.Cookies["culture"].Value;
    string arrow = "";
    if (langCode == "en")
    { arrow = "sab_banner_text"; }
    else
    { arrow = "sab_banner_textAr"; }
}
<div class="kode_sab_banner_wrap them_overlay">
    <!--CONTAINER START-->
    <div class="container">


        <div class=@arrow>
            <h2>@Model.Title</h2>
            <ul class="breadcrumbs">
                @*<li><a href="#"><i class="fa fa-home"></i></a></li>*@
                @foreach (var r in ((List<IslamicGuide.Data.ViewModels.Shared.Route>)ViewBag.Routes))
                {
                    if (r.Id == null)
                    {
                        <li><strong>@Html.ActionLink((langCode == "en") ? r.Text.EnglishName : r.Text.ArabicName, r.ActionName, r.Controller, null, null)</strong></li>
                    }
                    else
                    {
                        <li><strong>@Html.ActionLink((langCode == "en") ? r.Text.EnglishName : r.Text.ArabicName, r.ActionName, r.Controller, new { subjectId = r.Id }, null)</strong></li>
                    }
                }
            </ul>
        </div>
    </div>
    <!--CONTAINER END-->
</div>
<div id="cnt">


    <!--KODE NAVIGATION WRAP START-->
    <div class="kode_navigation_wrap">
        <!--CONTAINER START-->
        <div style="margin-bottom:2%;margin-top:2%;" class="container">
            <div class="navigation">
                <ul style="margin-left:auto;margin-right:auto; max-width: fit-content;border: 3px solid #d2983d; float: none !important;">
                    <li style="margin-left:unset"><a href="#">@Resources.LayoutResource.link1</a></li>
                    <li style="margin-left:unset"><a href="#">@Resources.LayoutResource.link2</a></li>
                    <li style="margin-left:unset"><a href="#">@Resources.LayoutResource.link3</a></li>
                    <li style="margin-left:unset"><a href="#">@Resources.LayoutResource.link4</a></li>
                    <li style="margin-left:unset"><a href="#">@Resources.LayoutResource.link5</a></li>
                    <li style="margin-left:unset"><a href="#">@Resources.LayoutResource.link6</a></li>
                    <li style="margin-left:unset"><a href="#">@Resources.LayoutResource.link7</a></li>
                </ul>

            </div>
        </div>
        <!--CONTAINER END-->
    </div>
    <!--KODE NAVIGATION WRAP END-->

    <div style="display:flex" class="container">


        <div class="row-fluid">
            <div class="well">
                <div>
                    <div class="card text-center">
                        <div class="card-header" style="text-align:center; background-color:#d2983d">
                            <h2 style="color:white" class="hStyles">@Model.SuraTitle</h2>
                        </div>
                        <div style="font-family: Amiri-Quran; color: #535353;font-size: 1.8em;line-height: 1.7em; font-weight: bold;" class="card-body">
                            <p style="color: #d2973b; padding: 13px;" class="card-text">@Model.PositionQuranWords</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <div class="card-header" style="text-align:center;background-color:#d2983d">
                            <h3 style="color:white" class="hStyles">@Resources.LayoutResource.AlFatihaverse6</h3>
                        </div>
                        <div style="font-family: Amiri-Quran; color: #535353;font-size: 1.8em;line-height: 1.7em; font-weight: bold;" class="card-body">
                            <div style="padding-right: 7px; padding-left: 7px;">@Resources.LayoutResource.Allahsaid <span class="t4">@Resources.LayoutResource.AlFatihaverse6 </span>@Resources.LayoutResource.Alfatihaverse6tafsir </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>