@model IslamicGuide.Data.ViewModels.Position.PositionDetialsVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var langCode = Request.Cookies["culture"] == null ? "en" : Request.Cookies["culture"].Value;
    string arrow = "";
    if (langCode == "en")
    { arrow = "sab_banner_text"; }
    else
    { arrow = "sab_banner_textAr"; }
}
<div class="kode_sab_banner_wrap them_overlay">
    <!--CONTAINER START-->
    <div class="container">


        <div class=@arrow>
            <h2>@Model.SuraTitle</h2>
            <ul class="breadcrumbs">

                @foreach (var r in ((List<IslamicGuide.Data.ViewModels.Shared.Route>)ViewBag.Routes))
                {
                    if (r.Id == null)
                    {
                        <li><strong>@Html.ActionLink((langCode == "en") ? r.Text.EnglishName : r.Text.ArabicName, r.ActionName, r.Controller, null, null)</strong></li>
                    }
                    else
                    {
                        <li><strong>@Html.ActionLink((langCode == "en") ? r.Text.EnglishName != null ? r.Text.EnglishName : "." : r.Text.ArabicName, r.ActionName, r.Controller, new { subjectId = r.Id }, null)</strong></li>
                    }
                }
            </ul>
        </div>
    </div>
    <!--CONTAINER END-->
</div>
<div id="cnt">


    <!--KODE NAVIGATION WRAP START-->
    <div class="kode_navigation_wrap">
        <!--CONTAINER START-->
        <div style="margin-bottom:2%;margin-top:2%;" class="container">
            <div class="navigation">
                <ul style="margin-left:auto;margin-right:auto; max-width: fit-content;border: 3px solid #d2983d; float: none !important;">

                    <li id="4" style="margin-left:unset"><a href="@Url.Action("GetPositionDetails","Positions",new {id = @ViewBag.PositionId, tab = 4})">@Resources.LayoutResource.Tafsir</a></li>
                    <li id="9" style="margin-left:unset"><a href="@Url.Action("GetPositionDetails","Positions",new {id = @ViewBag.PositionId, tab = 9})">@Resources.LayoutResource.Tajweed</a></li>
                    <li id="7" style="margin-left:unset"><a href="@Url.Action("GetPositionDetails","Positions",new {id = @ViewBag.PositionId, tab = 7})">@Resources.LayoutResource.Readingprinciples</a></li>
                    <li id="8" style="margin-left:unset"><a href="@Url.Action("GetPositionDetails","Positions",new {id = @ViewBag.PositionId, tab = 8})">@Resources.LayoutResource.Tlawa</a></li>
                    <li id="6" style="margin-left:unset"><a href="@Url.Action("GetPositionDetails","Positions",new {id = @ViewBag.PositionId, tab = 6})">@Resources.LayoutResource.WordMeanings</a></li>
                    <li id="10" style="margin-left:unset"><a href="@Url.Action("GetPositionDetails","Positions",new {id = @ViewBag.PositionId, tab = 10})">@Resources.LayoutResource.AsbabAlNuzul</a></li>
                    <li id="5" style="margin-left:unset"><a href="@Url.Action("GetPositionDetails","Positions",new {id = @ViewBag.PositionId, tab = 5})">@Resources.LayoutResource.Targmat</a></li>
                </ul>

            </div>
        </div>
        @*<div>
                <div class="card-header" style="text-align:center; background-color:#d2983d">
                    <h5 style="color:white" class="hStyles">@Model.HedaytAlAyat</h5>
                </div>
            </div>*@
        <!--CONTAINER END-->
    </div>
    <!--KODE NAVIGATION WRAP END-->
    <input id="positionId" value="@ViewBag.PositionId" hidden="" />
    <div class="container">


        <div class="row-fluid">
            <div class="well">
                <div>
                    <div style="display:inline" class="card text-center">
                        <div style="margin-bottom:10px; border : 1px solid black">
                            <div class="card-header" style="text-align:center; background-color:#d2983d">
                                <h3 style="color:white" class="hStyles">@Resources.LayoutResource.Hedayt_Alayat</h3>
                            </div>
                            <div style="font-family: Amiri-Quran; color: #535353;font-size: 1.5em;line-height: 1.7em; font-weight: bold;" class="card-body">
                                <p>
                                    <span style="padding:5px; color: black;" class="card-text">@Model.HedaytAlAyat</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div style="display:inline" class="card text-center">
                        <div style="margin-bottom:10px; border : 1px solid black">

                            <div class="card-header" style="text-align:center; background-color:#d2983d">
                                <h2 style="color:white" class="hStyles">@Model.SuraTitle</h2>
                            </div>
                            <div style="font-family: Amiri-Quran; color: #535353;font-size: 1.8em;line-height: 1.7em; font-weight: bold;" class="card-body">
                                <p style="padding:10px">
                                    @ViewBag.PrevAya
                                    <span style=" color: #d2973b;" class="card-text">@Model.PositionQuranWords</span>
                                    @ViewBag.NextAya
                                </p>
                            </div>
                        </div>

                    </div>
                    @if (Model.BookContent != null)
                    {
                        if (Model.BookContent.Count > 0)
                        {
                            <div style="padding-bottom:20px;padding-top:20px" class="row">
                                <div class="col-md-4">
                                    @Html.DropDownList(Resources.LayoutResource.Books, new SelectList(ViewBag.BooksDDL, "BookId", "Title"), new { @onchange = "OnChangeBook()", @id = "Books", @style = "border:1px solid #e1ba7f !important; font-size:18pt; font-weight:300" })
                                </div>
                            </div>
                        }
                        if (Model.BookContent.Count > 0)
                        {
                            <div class="card text-center">
                                <div class="card-header" style="text-align:center;background-color:#d2983d">
                                    <h3 style="color:white" class="hStyles">
                                        @Model.BookContent[0].Title
                                    </h3>
                                </div>
                                <div style="font-family: Amiri-Quran; color: #535353;font-size: 1.8em;line-height: 1.7em; font-weight: bold;" class="card-body">
                                    <div style="padding-right: 7px; padding-left: 7px;">
                                        @Html.Raw(Model.BookContent[0].ContentHTML)
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const mySel = document.getElementById("Books");
    let val = localStorage.getItem("Books");
    if (val) mySel.value = val;
</script>
<script>
    function OnChangeBook()
    {
        var selectedValue = document.getElementById("Books").value;
        localStorage.setItem("Books", selectedValue);
        var base_url = window.location.origin;
        document.location = "/Positions/GetSpecificContent?positionId=" + @ViewBag.PositionId + "&bookId=" + selectedValue;
    }
    if (@ViewBag.Tab != null) {
        document.getElementById("@ViewBag.Tab").firstChild.className += 'active';
    }
</script>
