@using IslamicGuide.Data.ViewModels.Position
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var langCode = Request.Cookies["culture"] == null ? "en" : Request.Cookies["culture"].Value;
}
<!--KODE SAB BANNER WRAP START-->
<div class="kode_sab_banner_wrap them_overlay">
    <!--CONTAINER START-->
    <div class="container">
        <div class="sab_banner_text">
            <h2>@ViewBag.subjectTitle</h2>
            <ul class="breadcrumbs">
                <li><a href="#"><i class="fa fa-home"></i></a></li>
                @foreach (var r in ((List<IslamicGuide.Data.ViewModels.Shared.Route>)ViewBag.Routes))
                {
                    if (r.Id == null)
                    {
                        <li><strong>@Html.ActionLink((langCode == "en") ? r.Text.EnglishName : r.Text.ArabicName,r.ActionName, r.Controller, null, null)</strong></li>
                    }
                    else
                    {
                        <li><strong>@Html.ActionLink((langCode == "en") ? r.Text.EnglishName : r.Text.ArabicName, r.ActionName, r.Controller, new { subjectId = r.Id }, null)</strong></li>
                    }
                }
            </ul>
        </div>
    </div>
    <!--CONTAINER END-->
</div>
<!--KODE SAB BANNER WRAP END-->
<!--KODE EVENT WRAP START-->
<div class="kode_event_wrap">
    <!--CONTAINER START-->
    <div class="container">
        @foreach (var item in (List<PositionVM>)ViewBag.pm.DataList.DataList)
        {
            <div class="row" style="padding: 25px; box-shadow: -1px -1px 10px -1px #888888;margin-bottom: 30px;">
                <div class="col-md-2">
                    <span style="font-size: 35pt;color: chocolate;font-weight: 600;">@item.SuraNum</span>
                </div>
                <div class="col-md-6">
                    <h4 style="color:brown;font-size:20pt;font-weight: 1000;">@item.SuraTitle</h4>
                    <p style="padding-top:20px; color:black;font-weight:200;font-size:18pt">@item.QuranWords</p>
                </div>
                <div class="col-md-2">
                    <a href="#">@Resources.LayoutResource.Ayat : @item.AyatCount</a>
                </div>
                <div align="right" class="col-md-2">
                    @Html.ActionLink(@Resources.LayoutResource.Show, "GetPositionDetails", "Positions", new { id = item.PosID }, new { @class = "medium_btn background-bg-dark", @style = "margin-top:20px" })
                </div>
            </div>
        }

    </div>
    @Html.Partial("_Paging")

</div>
<!--CONTAINER END-->