@using IslamicGuide.Data.ViewModels.Position
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var breadCrumbDivClass = "sab_banner_text";
    int count = 1;

}
@{
    var langCode = Request.Cookies["culture"] == null ? "en" : Request.Cookies["culture"].Value;
    if (langCode == "ar")
    {
        breadCrumbDivClass = "sab_banner_textAr";
        <style>
            .breadcrumbs li:first-child:before {
                content: "";
            }

            .breadcrumbs li:last-child:before {
                content: "\f100" !important;
            }

            .breadcrumbs {
                padding-right: 0px !important;
                direction: rtl !important;
            }

                .breadcrumbs li {
                    margin-right: 5px !important;
                }

            .subjectsStyles {
                margin-right: 30px !important;
                margin-bottom: 20px !important;
                margin-left: 0px !important;
            }
        </style>
    }
}
<!--KODE SAB BANNER WRAP START-->
<div class="kode_sab_banner_wrap them_overlay">
    <!--CONTAINER START-->
    <div class="container">
        <div class="@(breadCrumbDivClass)">
            <h2>@ViewBag.subjectTitle</h2>
            <ul class="breadcrumbs">
                @*<li><a href="#"><i class="fa fa-home"></i></a></li>*@
                @foreach (var r in ((List<IslamicGuide.Data.ViewModels.Shared.Route>)ViewBag.Routes))
                {
                    if (r.Id == null)
                    {
                        <li><strong>@Html.ActionLink((langCode == "en") ? r.Text.EnglishName : r.Text.ArabicName, r.ActionName, r.Controller, null, null)</strong></li>
                    }
                    else if (count == ViewBag.Routes.Count)
                    {
                        <li href="#"><strong> @(langCode == "en" ? r.Text.EnglishName : r.Text.ArabicName) </strong></li>
                    }
                    else
                    {
                        <li><strong>@Html.ActionLink((langCode == "en") ? r.Text.EnglishName : r.Text.ArabicName, r.ActionName, r.Controller, new { subjectId = r.Id }, null)</strong></li>
                    }
                    count++;
                }
            </ul>
        </div>
    </div>
    <!--CONTAINER END-->
</div>
<!--KODE SAB BANNER WRAP END-->
<!--KODE EVENT WRAP START-->

<div class="kode_event_wrap">
    <!--CONTAINER START-->
   

    <div class="container">
        <div class="row">
            <div style="margin-bottom: 40px;border : 1px solid black;">

                <div class="card-header" style="text-align:center; background-color:#d2983d">
                    <h3 style="color:white" class="hStyles">@Resources.LayoutResource.Hedayt_Alayat</h3>
                </div>
                <div style="font-family: Amiri-Quran; color: #535353;font-size: 1.5em;line-height: 1.7em; font-weight: bold;" class="card-body">
                    <p>
                        <span style="padding:5px; color: black;" class="card-text">@ViewBag.HedayetAlAyat</span>
                    </p>
                </div>
            </div>
             
        </div>
        @foreach (var item in (List<PositionVM>) ViewBag.pm.DataList.DataList)
        {
            <div class="row" style="padding: 25px; box-shadow: -1px -1px 10px -1px #888888; margin-bottom: 30px;">

                <div class="col-md-6">
                    <h4 style="display: inline-block !important; color: brown; font-size: 20pt; font-weight: 1000;">@item.SuraTitle &nbsp;&nbsp;</h4>

                    <span style="font-size: 20pt; color: chocolate; font-weight: 600;">@item.SuraNum</span>

                    <p style="padding-top: 20px; color: black; font-weight: 200; font-size: 18pt">@item.QuranWords</p>
                </div>
                <div class="col-md-2">
                    @if (@item.FromAya == @item.ToAya)
                    {
                        <a href="#">@Resources.LayoutResource.Aya : @item.FromAya</a>
                    }
                    else
                    {
                        <a href="#">@Resources.LayoutResource.Ayat : @item.FromAya - @item.ToAya</a>
                    }


                </div>
                <div align="right" class="col-md-2">
                    @Html.ActionLink(@Resources.LayoutResource.Show, "GetPositionDetails", "Positions", new {id = item.PosID}, new {@class = "medium_btn background-bg-dark", @style = "margin-top:20px"})
                </div>
            </div>
        }

    </div>
    @Html.Partial("_Paging")

</div>
<!--CONTAINER END-->