<div class="wraper">
    <!--KODE SAB BANNER WRAP START-->
    <div class="kode_sab_banner_wrap them_overlay">
        <!--CONTAINER START-->
        <div class="container">
            <div class="sab_banner_text">
                <h2>@Resources.LayoutResource.AboutUs</h2>
                <ul class="breadcrumbs">
                    <li><a href=""><i class="fa fa-home"></i></a></li>
                    <li><strong>@Resources.LayoutResource.AboutUs</strong></li>
                </ul>
            </div>

        </div>

    </div>
    <div class="container">
        <div class="kode_mosque_text">
            <div class="section_hdg hdg_2 hdg_3">
                <a href="#"><img src="images/hdg-img.png" alt=""></a>
                <h3>@Resources.LayoutResource.AboutUs</h3>
                <span><i class="fa icon-building"></i></span>
            </div>
            <div style="padding-bottom: 20px;" class="kode_mosque_item row">
                <div class="col-md-6">
                    <p>@ViewBag.Message</p>

                </div>
                <div class="col-md-6">
                    <ul class="kode_counter_mosque">
                        <li>
                            <span class="counter">@ViewBag.BookCount </span>
                            <h6><a href="#">@Resources.LayoutResource.Books</a></h6>
                        </li>
                        <li>
                            <span class="counter">@ViewBag.SubjectCount </span>
                            <h6><a href="#">@Resources.LayoutResource.Subjects</a></h6>
                        </li>
                    </ul>
                </div>
                
                <br />
            </div>
        </div>
    </div>
</div>