<div class="wraper">
    <!--KODE SAB BANNER WRAP START-->
    <div class="kode_sab_banner_wrap them_overlay">
        <!--CONTAINER START-->
        <div class="container">
            <div class="sab_banner_text">
                <h2>@Resources.LayoutResource.ContactUs</h2>
                
            </div>
        </div>
        <!--CONTAINER END-->
    </div>
    <!--KODE SAB BANNER WRAP END-->
    <!--KODE 404 WRAP START-->
    <div class="kode_contact_wrap">
       
        <!--CONTAINER START-->
            <div class="container">
                <div class="row">
                    @if (ViewBag.True)
                    {
                        <div class="col-md-4">
                            <p style="color: green">
                                @ViewBag.Success
                            </p>
                        </div>
                    }
                    else if (ViewBag.False)
                    {
                        <div class="col-md-4">
                            <p style="color:red">
                                @ViewBag.Failed
                            </p>
                        </div>
                    }
                    <div class="kode_contact_field">
                        <div class="section_hdg hdg_2 hdg_3">
                            <a href="#"><img src="images/hdg-img.png" alt=""></a>
                            <h3>@Resources.LayoutResource.ContactUs</h3>
                            <span><i class="fa icon-building"></i></span>
                        </div>
                        <form method="post" id="commentform" class="comment-form">
                            <div class="col-md-4">
                                <div class="kf_commet_field">
                                    <input maxlength="20" placeholder="@Resources.LayoutResource.Yname" id="author" name="author" type="text" value="" data-default="Name*" size="30" required="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="kf_commet_field">
                                    <input maxlength="30" placeholder="@Resources.LayoutResource.Yemail" id="email" name="email" type="email" value="" data-default="Name*" size="30" required="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="kf_commet_field">
                                    <input  placeholder="@Resources.LayoutResource.yMobile" id="phone" name="phone" type="number" value="" data-default="Name*" size="30" required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="kode_textarea">
                                    <textarea placeholder="@Resources.LayoutResource.Ymessage" id="comment" name="comment"></textarea>
                                </div>
                                <p class="form-submit"><input name="submit" type="submit" class="medium_btn background-bg-dark btn_hover hvr-wobble-bottom" value="@Resources.LayoutResource.Submitnow"></p>
                            </div>
                        </form>
                    </div>
                </div>
                <!--KODE CONTACT SERVICE START-->
                <div class="kode_contact_service">
                    <ul>
                        <li>
                            <div class="kode_contact_text">
                                <h5><a href="#">ADDRESS</a></h5>
                                <a href="#"><i class="fa fa-map-marker"></i></a>
                                <p>
                                    <span>Location</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="kode_contact_text">
                                <h5><a href="#">PHONE</a></h5>
                                <a href="#"><i class="fa fa-map-marker"></i></a>
                                <p>
                                    <span>0000000000</span>
                                    
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="kode_contact_text">
                                <h5><a href="#">EMAIL ADDRESS</a></h5>
                                <a href="#"><i class="fa fa-map-marker"></i></a>
                                <p>
                                    <span>example@example.com</span>
                                    
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--KODE CONTACT SERVICE END-->
            </div>
            <!--CONTAINER END-->
    </div>
    <!--KODE 404 WRAP END-->

</div>